body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container--fluid-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
}

/**
 * header-user
 */

.header-user {
  width: 200px;
  text-align: right;
  padding: var(--padding-md);
}
@media (max-width: 1100px) {
  .header-user {
    flex: 1;
  }
}

.header-user__name {
  text-transform: uppercase;
  margin-bottom: var(--margin-md);
}

.header-user__bonuses {
  color: var(--color-status-ok);
  text-decoration: underline;
}

/**
 * header-left-container
 */
.header-left-container {
  padding: var(--padding-md);
}

/**
 * search-input
 */
.search-input {
  width: 100%;
  margin-bottom: var(--margin-md);
}

/**
 * sum-info
 */
.sum-info {
  width: 150px;
  margin-right: var(--margin-md);
}

.sum-info:last-child {
  margin: 0;
}

.sum-info__label {
  text-transform: uppercase;
  text-align: center;
}

.sum-info__value {
  text-align: right;
  font-size: 2rem;
  border: 1px solid var(--color-gray-1);
  border-radius: 3px;
}

.sum-info--attention .sum-info__value {
  color: var(--color-attention);
}

/**
 * sum-container
 */

.sum-container {
  display: flex;
}

/**
 * statuses
 */
.statuses {
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  flex: 1;
}
@media (max-width: 1100px) {
  .statuses {
    display: none;
  }
}

/**
 * status-info
 */
.status-info {
  text-transform: uppercase;
  margin-bottom: var(--margin-md);
}

.status-info::before {
  content: "";
  display: inline-block;
  background-color: var(--color-attention);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-right: 5px;
}

.status-info.status-info--active::before {
  background-color: var(--color-status-ok);
}


/**
 * main
 */
.main {
  flex: 1;
  padding: var(--padding-md);
}

/**
* table-products-summary
*/
.table-products-summary {
  width: 1600px;
  text-transform: uppercase;
}

.table-summary {
  float: left;
  width: max-content;
}

.table-summary__label {
  float: left;
} 

.table-summary__value {
  float: left;
  text-align: right;
  margin-left: 1em;
  margin-right: 1em;
}