.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .table th,
  .table td {
    border: 1px solid var(--color-gray-0);
  }
  
  .table th > span {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  
  .table tbody tr.selected {
    background-color: var(--color-selected);
  }

  .tableProducts {
    min-width: 1200px;
  }